@use "./fonts/helvetica/helvetica";
@use "./fonts/outward/outward";
@use "./fonts/bebas/bebas";

$helvetica-regular: "Helvetica Now Display Regular", sans-serif;
$helvetica-medium: "Helvetica Now Display Medium", sans-serif;
$helvetica-bold: "Helvetica Now Display Bold", sans-serif;
$helvetica-light: "Helvetica Now Display Light", sans-serif;

$outward: "Outward-block", sans-serif;
$outward-borders: "Outward-borders", sans-serif;
$outward-round: "Outward-round", sans-serif;

$bebas: "bebas_neueregular", sans-serif;
$bebas-bold: "bebas_neuebold", sans-serif;
$bebas-book: "bebas_neuebook", sans-serif;
$bebas-light: "bebas_neuelight", sans-serif;
$bebas-thin: "bebas_neuethin", sans-serif;

$dark: #000000;
$light: #ffffff;
$green: #03c147;
$blue: #5cb6eb;
$yellow: #fed001;
$red: #d92e1c;
$pink: #dea6af;
$offLight: #dcdacd;
$orange: #fe8a3d;
$purple: #7649be;
$seaBlue: #214287;
$darkBlue: #0a369d;
$lightBorder: rgba(255, 255, 255, 0.4);

/* 
//*---------->> Tablet

@media screen and (min-width: 820px){

}

//*---------->> desktop

@media screen and (min-width: 1025px){

}

//*---------->> large desktop

@media screen and (min-width: 2400px){

}
 */
