@use "@/app/scss/variables" as *;

header {
  width: 100vw;
  max-width: 100%;
  padding: 2vw;
  position: relative;
  z-index: 20;

  .header-container {
    position: relative;
    z-index: 10;
    width: 100%;
    border: 0.1px solid $lightBorder;
    border-radius: calc(5px + 1vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

    #button {
      width: 100px;
      height: calc(50px - 4vw);
    }

    a {
      padding-left: 3vw;

      h2 {
        font-family: $bebas-bold;
        font-size: 1.6rem;
        font-weight: 100;
      }
    }
  }
}

//*---------->> Tablet

@media screen and (min-width: 820px) {
  header {
    padding: 1vw;

    .header-container {
      padding: 1vw;
      border-radius: calc(5px + 0.5vw);

      a {
        padding-left: 3vw;
      }

      #button {
        height: 40px;
      }
    }
  }
}

//*---------->> desktop

@media screen and (min-width: 1025px) {
  header {
    padding: 0.5vw;
    overflow-x: clip;

    .header-container {
      padding: 0.5vw;
      border-radius: calc(5px + 0.25vw);

      #button {
        height: 40px;
      }
    }
  }
}

//*---------->> large desktop

@media screen and (min-width: 2400px) {
  header {
    padding: 0.5vw 10vw;
  }
}
