@use "@/app/scss/variables" as *;

#menu {
  width: 100%;
  position: absolute;
  z-index: 9;
  left: 0;
  bottom: auto;
  padding: 2vw;

  nav {
    display: flex;
    flex-direction: column;
    background-color: $dark;
    border-radius: 10px;
    padding: 4vw;
    border: 0.1px solid $lightBorder;
    background: radial-gradient(
        circle at 50% 0%,
        rgba(10, 54, 157, 0.2) 0%,
        transparent 80%
      ),
      rgba(15, 15, 15, 1);

    a {
      padding: 4vw 20px;
      border-bottom: 0.1px solid $lightBorder;
      color: $offLight;
      font-family: $helvetica-bold;

      &:nth-last-of-type(1) {
        border-bottom: none;
      }
    }
  }
}

//*---------->> Tablet

@media screen and (min-width: 820px) {
  #menu {
    bottom: auto;
    top: calc(50px + 2vw);
    padding: 1vw;
  }
}

//*---------->> desktop

@media screen and (min-width: 1025px) {
  #menu {
    padding: 0 0.5vw;
    top: calc(100%);
    width: 40%;
    right: 0;
    left: auto;

    nav {
      height: calc(100vh - 40px - 2.5vw);
      height: calc(100svh - 40px - 2.5vw);

      a {
        padding: 2vw 20px;

        &:hover {
          color: $green;
        }
      }
    }
  }
}

//*---------->> large desktop

@media screen and (min-width: 2400px) {
  #menu {
    padding: 0 10vw;
    width: 60%;
  }
}
