@use "@/app/scss/variables" as *;
#gap {
  width: 100vw;
  max-width: 100%;
  display: flex;
  padding-bottom: 2vw;

  .img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;

    .slider {
      display: flex;
    }
  }
}

//*---------->> Tablet

@media screen and (min-width: 820px) {
  #gap {
    padding-bottom: 2vw;
  }
}

//*---------->> desktop

@media screen and (min-width: 1025px) {
  #gap {
    padding-bottom: 0.5vw;
  }
}

//*---------->> large desktop

@media screen and (min-width: 2400px) {
  #gap {
    padding-bottom: 0.5vw;
  }
}
