@use "@/app/scss/variables" as *;

#webSecHero {
  @include full-width;
  @include webSecHero;
  padding-block: rem(100);

  h2 {
    line-height: 1.1;
    text-align: center;
    font-size: rem(24);

    @include breakpoint(medium) {
      font-size: rem(26);
    }
  }
}
