@use "@/app/scss/variables" as *;

#bio {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  padding: 2vw;

  .bio-container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 6vw;

    p {
      font-family: $helvetica-light;
      line-height: 1.1;
      color: $offLight;
      font-size: 3rem;
    }
  }
}

//*---------->> Tablet

@media screen and (min-width: 820px) {
  #bio {
    padding: 1vw;
    height: 40vh;

    .bio-container {
      padding: 0 4vw;
    }
  }
}

//*---------->> desktop

@media screen and (min-width: 1025px) {
  #bio {
    padding: 0.5vw;
    height: 100vh;

    .bio-container {
      p {
        font-size: 5rem;
      }
    }
  }
}

//*---------->> large desktop

@media screen and (min-width: 2400px) {
  #bio {
    padding: 0 10vw;
    .bio-container {
      p {
        font-size: 8rem;
      }
    }
  }
}
